body {
    font-family: 'Roboto', sans-serif;
}

.header{
    background-color:gray;
    padding: 6px;
    border-bottom: 1px solid #e5e5e5;
    color: white;
}


.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    margin-bottom: 20px;
}

.user-input {
    margin-bottom: 8px;
}

.user-guess {
    margin-bottom: 20px;
}

.name {
    width: 180px;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.border {
    border: 2px dashed #e5e5e5;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 10px 70px;
}

.button {
    margin-bottom: 15px;
}

.calc-table {
    display: flex;
    flex-direction: column;

}

.table-style {
    border-collapse: collapse;
    margin: 25px 0;
    font-size: 0.9em;
    font-family: sans-serif;
    min-width: 400px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
    width: 100%;
}

.table-style thead tr {
    background-color: #009879;
    color: #ffffff;
    text-align: left;
}

.table-style th,
.table-style td {
    padding: 12px 15px;
    align-items: center;
}

.table-style tr {
    border-bottom: 1px solid #dddddd;
}

.table-style tr:nth-of-type(even) {
    background-color: #f3f3f3;
}

.table-style tr:last-of-type {
    border-bottom: 2px solid #009879;
}

.table-style tbody tr.active-row {
    font-weight: bold;
    color: #009879;
}

.iter {
    width: 10px;
}